:root {
    --primary-theme-color: #00509A;
    --secondary-theme-color: #65A2DB;
    /* option 2: #006ACD; */
    --accent-theme-color: #8FC9FF;
}

nav,footer {
    background-color: #00509A;
}

#jumbotron-section {
    height: 560px;
    background-image: url("../img/auto-shop-3.jpg");
    background-size: cover; 
    background-position: center center;
    
}

main {
    margin: 5.5rem;
}

.heading-theme-color {
    color: #00509A;
    border-color: #00509A !important;
}